<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <span>数字1:{{number1}}</span>
    <span>数字2:{{number2}}</span>
    <br>
    <cpn :num1="number1" :num2="number2" @num1-change="number1Change" @num2-change="number2Change"></cpn>
  </div>

  <template id="cpn">
    <div>
      <span>props:{{num1}}</span>
      <span>data:{{dnum1}}</span>
      <br>
      <input type="number" value="dnum1" v-model="dnum1" @input="num1Change">
      <br>
      <span>props:{{num2}}</span>
      <span>data:{{dnum2}}</span>
      <br>
      <input type="number" value="dnum2" v-model="dnum2" @input="num2Change">
    </div>
  </template>
  <script src='../source/vue.js'></script>
  <script>
    const cpn = {
      template: "#cpn",
      props: {
        num1: {
            type: Number,
            default: 1
          },
        num2: {
          type: Number,
          default: 2
        }
      },
      data (){
        return {
          //组件中的props不能直接双向绑定，必须通过data转手，避免影响父组件中的值
          dnum1: this.num1,
          dnum2: this.num2        
        };
      },
      methods: {
        //dnumx值为字符串，需要转化成数字
        num1Change (event){
          this.dnum2 = this.dnum1 * 100;
          //dnumx与input中的内容通过v-model双向绑定了，新值即时同步到dnumx中，此处只发射dnumx即可
          this.$emit('num1-change', parseFloat(this.dnum1));
          this.$emit('num2-change', this.dnum2);
        },
        num2Change(event){
          this.dnum1 = this.dnum2 / 100;
          this.$emit('num2-change', parseFloat(this.dnum2));
          this.$emit('num1-change', this.dnum1);
        }
      }
    };

    const app = new Vue({
      el: '#app',
      data: {
        number1: 11111,
        number2: 22222
      },
      components: {
        cpn
      },
      methods: {
        number1Change (newValue){
          this.number1 = newValue;
        },
        number2Change (newValue){
          this.number2 = newValue;
        }
      }
    });
  </script>
</body>
</html>