<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <div v-if="books.length>0">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>书籍名称</th>
            <th>出版日期</th>
            <th>价格</th>
            <th>购买数量</th>
            <th>操作</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(book, index) in books">
            <td>{{index+1}}</td>
            <td>{{book.name}}</td>
            <td>{{book.publishDate}}</td>
            <td>{{book.price | showPrice}}</td>
            <td>
              <button @click="addNum(index)">+</button>
              {{book.num}}
              <button @click="subNum(index)">-</button>
            </td>
            <td>
              <button @click="removeBook(index)">移除</button>
            </td>
          </tr>
        </tbody>
      </table>
      <span>总价：{{totalCost | showPrice}}</span>
    </div>
    <span v-else>购物车是空的</span>
  </div>
  <script src='../../source/vue.js'></script>
  <script src='model.js'></script>
</body>
</html>